USE [SIC]
GO
/****** Object:  Table [dbo].[ZONA]    Script Date: 11/27/2017 01:36:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ZONA](
	[CODIGO] [int] NOT NULL,
	[CODIGO_PROV] [int] NOT NULL,
	[CONS_PROMEDIO] [varchar](30) NOT NULL,
	[NUM_PART] [int] NOT NULL,
	[NUM_EMP] [int] NOT NULL,
	[NUM_INST] [int] NOT NULL,
 CONSTRAINT [PK_ZONA] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC,
	[CODIGO_PROV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TERMICA]    Script Date: 11/27/2017 01:36:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TERMICA](
	[NOMBRE_PROD] [int] NOT NULL,
	[CARBON] [varchar](30) NOT NULL,
	[HORNOS] [varchar](30) NOT NULL,
	[GASES] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NOMBRE_PROD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SUBESTACION]    Script Date: 11/27/2017 01:36:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBESTACION](
	[NUM_SUBEST] [int] NOT NULL,
	[NUM_LINEA] [int] NOT NULL,
	[RED] [int] NOT NULL,
 CONSTRAINT [PK_SUBESTACION] PRIMARY KEY CLUSTERED 
(
	[NUM_SUBEST] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUBEST_ZONA]    Script Date: 11/27/2017 01:36:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBEST_ZONA](
	[NUM_SUBEST] [int] NOT NULL,
	[CODIGO] [int] NOT NULL,
 CONSTRAINT [PK_SUBEST_ZONA] PRIMARY KEY CLUSTERED 
(
	[NUM_SUBEST] ASC,
	[CODIGO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SOLAR]    Script Date: 11/27/2017 01:36:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SOLAR](
	[NOMBRE_PROD] [int] NOT NULL,
	[SUPERFICIE] [varchar](30) NOT NULL,
	[HORAS_SOL] [int] NOT NULL,
	[TIPO] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NOMBRE_PROD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RED_COMPAÑIA]    Script Date: 11/27/2017 01:36:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RED_COMPAÑIA](
	[NOMBRE] [int] NOT NULL,
	[RED] [int] NOT NULL,
 CONSTRAINT [PK_RED_COMPAÑIA] PRIMARY KEY CLUSTERED 
(
	[NOMBRE] ASC,
	[RED] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RED]    Script Date: 11/27/2017 01:36:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RED](
	[RED] [int] NOT NULL,
	[NOMBRE_EST_PRIM] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RED] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVINCIA]    Script Date: 11/27/2017 01:36:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROVINCIA](
	[CODIGO_PROV] [int] NOT NULL,
	[NOMBRE] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO_PROV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PRODUCTOR]    Script Date: 11/27/2017 01:36:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUCTOR](
	[NOMBRE_PROD] [int] NOT NULL,
	[PROD_PROMEDIO] [int] NOT NULL,
	[PROD_MAXIMA] [int] NOT NULL,
	[FECHA_INICIO] [date] NOT NULL,
	[TIPO] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NOMBRE_PROD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PRESA]    Script Date: 11/27/2017 01:36:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRESA](
	[NOMBRE_PROD] [int] NOT NULL,
	[CAP_MAXIMA] [varchar](30) NOT NULL,
	[AREA] [varchar](30) NOT NULL,
	[TURBINAS] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NOMBRE_PROD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LINEA]    Script Date: 11/27/2017 01:36:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LINEA](
	[NUM_LINEA] [int] NOT NULL,
	[RED] [int] NOT NULL,
 CONSTRAINT [PK_LINEA] PRIMARY KEY CLUSTERED 
(
	[NUM_LINEA] ASC,
	[RED] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EST_PRODUCTOR]    Script Date: 11/27/2017 01:36:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EST_PRODUCTOR](
	[NOMBRE_EST_PRIM] [int] NOT NULL,
	[NOMBRE_PROD] [int] NOT NULL,
	[FECHA] [varchar](30) NOT NULL,
	[CANTIDAD] [varchar](30) NOT NULL,
 CONSTRAINT [PK_EST_PRODUCTOR] PRIMARY KEY CLUSTERED 
(
	[NOMBRE_EST_PRIM] ASC,
	[NOMBRE_PROD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EST_PRIMARIA]    Script Date: 11/27/2017 01:36:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EST_PRIMARIA](
	[NOMBRE_EST_PRIM] [int] NOT NULL,
	[TRANSFORMADORES] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NOMBRE_EST_PRIM] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EOLICA]    Script Date: 11/27/2017 01:36:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EOLICA](
	[NOMBRE_PROD] [int] NOT NULL,
	[GENERADORES] [varchar](30) NOT NULL,
	[SUPERFICIE] [varchar](30) NOT NULL,
	[PROD_PROMEDIO] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NOMBRE_PROD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ENVIA_ENERGIA]    Script Date: 11/27/2017 01:36:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ENVIA_ENERGIA](
	[RED] [int] NOT NULL,
	[VOLUMEN] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RED] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[COMPAÑIA]    Script Date: 11/27/2017 01:36:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPAÑIA](
	[NOMBRE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NOMBRE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
